span.status {
	display: block;
	width: 10px;
	height: 10px;
	// margin: 0.25em auto;
	padding: 0;
	border: 1px solid #000;
	&.true {
		background: green;
		color: green;
	}
	&.false {
		background: red;
		color: red;
	}
}

// #footer {
// 	background: brown image-url('bg_footer.gif') repeat-x 0 0;
// }

#error-explanation {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  padding: 20px;
  border: 1px solid black;	
  margin-bottom: 20px;
}

.field_with_errors {
	label { color: #aa0000; }
	input { border: 1px solid red; }
}
